apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "workbench-operator.fullname" . }}-workbench-viewer-role
  labels:
  {{- include "workbench-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - default.chorus-tre.ch
  resources:
  - workbenches
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - default.chorus-tre.ch
  resources:
  - workbenches/status
  verbs:
  - get
