apiVersion: default.chorus-tre.ch/v1alpha1
kind: Workbench
metadata:
  labels:
    app.kubernetes.io/name: workbench-operator
    app.kubernetes.io/managed-by: kustomize
  name: workbench
  namespace: workspace
spec:
  initContainer:
    version: "0.0.2-1"
  server:
    version: "6.3.2-4"
    user: user-name
    userid: 1002
  storage:
    s3: true
    nfs: true
  apps:
    benchmark:
      name: benchmark
      image:
        registry: harbor.build.chorus-tre.local
        repository: apps/benchmark
        tag: "0.0.2-1"
      state: Running
      resources:
        limits:
          cpu: 750m
          ephemeral-storage: 10Gi
          memory: 768Mi
    kiosk:
      name: kiosk
      image:
        registry: harbor.build.chorus-tre.local
        repository: apps/kiosk
        tag: "1506976-12"
      state: Running
      resources:
        limits:
          cpu: 750m
          ephemeral-storage: 10Gi
          memory: 768Mi
      kioskConfig:
        url: https://chorus-tre.ch
      shmSize: 1Gi
