apiVersion: default.chorus-tre.ch/v1alpha1
kind: Workbench
metadata:
  labels:
    app.kubernetes.io/name: workbench-operator
    app.kubernetes.io/managed-by: kustomize
  name: workbench
  namespace: workbench
spec:
  server:
    version: "6.3.2-1"
    user: nathalie
    userid: 1002
  storage:
    s3: true
    nfs: true
  apps:
    jlab:
      name: jupyterlab
      version: "4.2.5-1"
      shmSize: 1Gi
      state: Stopped
