apiVersion: default.chorus-tre.ch/v1alpha1
kind: Workbench
metadata:
  labels:
    app.kubernetes.io/name: workbench-operator
    app.kubernetes.io/managed-by: kustomize
  name: workbench
  namespace: workbench
spec:
  server:
    version: "6.3.2-1"
    user: nathalie
    userid: 1002
  storage:
    s3: true
    nfs: true
  apps:
    benchmark:
      name: benchmark
      version: "0.0.1-1"
      state: Running
      resources:
        limits:
          cpu: 750m
          ephemeral-storage: 10Gi
          memory: 768Mi
    kiosk:
      name: kiosk
      version: "1506976-10"
      resources:
        limits:
          cpu: 750m
          ephemeral-storage: 10Gi
          memory: 768Mi
      kioskConfig:
        url: https://pt-frontend.rdeid.unil.ch/
      shmSize: 1Gi
      state: Running
