apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: workbench
  namespace: workbench
spec:
  ingressClassName: nginx
  rules:
    - host: workbench.chorus-tre.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: workbench
                port:
                  number: 8080
