---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.0
  name: workbenches.default.chorus-tre.ch
spec:
  group: default.chorus-tre.ch
  names:
    kind: Workbench
    listKind: WorkbenchList
    plural: workbenches
    singular: workbench
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.server.version
      name: Version
      type: string
    - jsonPath: .spec.apps[*].name
      name: Apps
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Workbench is the Schema for the workbenches API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: WorkbenchSpec defines the desired state of Workbench
            properties:
              apps:
                additionalProperties:
                  description: WorkbenchApp defines one application running in the
                    workbench.
                  properties:
                    image:
                      description: Image overwrites the default image built using
                        the default registry, name, and version.
                      properties:
                        registry:
                          description: Registry represents the hostname of the registry.
                            E.g. quay.io
                          type: string
                        repository:
                          description: Repository contains the image name. E.g. apps/myapp
                          type: string
                        tag:
                          default: latest
                          description: Tag contains the version identifier.
                          pattern: '[a-zA-Z0-9_][a-zA-Z0-9_\-\.]*'
                          type: string
                      required:
                      - registry
                      - repository
                      type: object
                    kioskConfig:
                      description: KioskConfig holds kiosk-specific configuration
                      properties:
                        url:
                          description: URL to load in the kiosk browser
                          pattern: ^https://.*
                          type: string
                      required:
                      - url
                      type: object
                    name:
                      description: Name is the application name (likely its OCI image
                        name as well)
                      maxLength: 30
                      minLength: 1
                      pattern: '[a-zA-Z0-9_][a-zA-Z0-9_\-\.]*'
                      type: string
                    resources:
                      description: |-
                        Resources describes the compute resource requirements.
                        Add anything you'd like to configure. E.g. resources, (App data) volume, etc.
                      properties:
                        claims:
                          description: |-
                            Claims lists the names of resources, defined in spec.resourceClaims,
                            that are used by this container.

                            This is an alpha field and requires enabling the
                            DynamicResourceAllocation feature gate.

                            This field is immutable. It can only be set for containers.
                          items:
                            description: ResourceClaim references one entry in PodSpec.ResourceClaims.
                            properties:
                              name:
                                description: |-
                                  Name must match the name of one entry in pod.spec.resourceClaims of
                                  the Pod where this field is used. It makes that resource available
                                  inside a container.
                                type: string
                              request:
                                description: |-
                                  Request is the name chosen for a request in the referenced claim.
                                  If empty, everything from the claim is made available, otherwise
                                  only the result of this request.
                                type: string
                            required:
                            - name
                            type: object
                          type: array
                          x-kubernetes-list-map-keys:
                          - name
                          x-kubernetes-list-type: map
                        limits:
                          additionalProperties:
                            anyOf:
                            - type: integer
                            - type: string
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                          description: |-
                            Limits describes the maximum amount of compute resources allowed.
                            More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
                          type: object
                        requests:
                          additionalProperties:
                            anyOf:
                            - type: integer
                            - type: string
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                          description: |-
                            Requests describes the minimum amount of compute resources required.
                            If Requests is omitted for a container, it defaults to Limits if that is explicitly specified,
                            otherwise to an implementation-defined value. Requests cannot exceed Limits.
                            More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
                          type: object
                      type: object
                    shmSize:
                      anyOf:
                      - type: integer
                      - type: string
                      description: ShmSize defines the size of the required extra
                        /dev/shm space.
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    state:
                      default: Running
                      description: |-
                        State defines the desired state
                        Valid values are:
                        - "Running" (default): application is running
                        - "Stopped": application has been stopped
                        - "Killed": application has been force stopped
                      enum:
                      - Running
                      - Stopped
                      - Killed
                      type: string
                    version:
                      default: latest
                      description: Version defines the version to use.
                      maxLength: 128
                      minLength: 1
                      pattern: '[a-zA-Z0-9_][a-zA-Z0-9_\-\.]*'
                      type: string
                  required:
                  - name
                  type: object
                description: Apps represent a map of applications any their state
                type: object
              imagePullSecrets:
                description: ImagePullSecrets is the secret(s) needed to pull the
                  image(s).
                items:
                  minLength: 1
                  type: string
                type: array
              server:
                description: Server represents the configuration of the server part.
                properties:
                  version:
                    default: latest
                    description: Version defines the version to use.
                    type: string
                type: object
              serviceAccountName:
                default: default
                description: Service Account to be used by the pods.
                type: string
            type: object
          status:
            description: WorkbenchStatus defines the observed state of Workbench
            properties:
              apps:
                additionalProperties:
                  description: WorkbenchStatusappStatus informs about the state of
                    the apps.
                  properties:
                    revision:
                      description: Revision is the values of the "deployment.kubernetes.io/revision"
                        metadata.
                      type: integer
                    status:
                      description: Status informs about the real state of the app.
                      enum:
                      - Unknown
                      - Running
                      - Complete
                      - Progressing
                      - Failed
                      type: string
                  required:
                  - revision
                  - status
                  type: object
                type: object
              server:
                description: WorkbenchStatusServer represents the server status.
                properties:
                  revision:
                    description: Revision is the values of the "deployment.kubernetes.io/revision"
                      metadata.
                    type: integer
                  status:
                    description: Status informs about the real state of the app.
                    enum:
                    - Running
                    - Progressing
                    - Failed
                    type: string
                required:
                - revision
                - status
                type: object
            required:
            - server
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
